Repository piotrkwiecinski/piotrkwiecinski.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency @babel/core to ^7.18.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @commitlint/cli to ^16.3.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/node to ^16.11.38
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/react-dom to ^17.0.17
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/node to ^16.11.39
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency typescript to ^4.7.3
  package.json
  yarn.lock
Due: prettier --write

chore: use node 20
  .circleci/config.yml
Due: none

chore: replace circleci with github actions
  .circleci/config.yml
  .github/workflows/ci.yml
Due: none

chore: update dependencies
  gatsby-config.js
  package.json
  src/pages/index.tsx
  yarn.lock
Due: prettier --write, tslint --fix

Update NODE_VERSION from 20 to 22 in CI workflow
  .github/workflows/ci.yml
Due: none

chore(deps): update commitlint monorepo to v21
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v17
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update node.js to v24
  .nvmrc
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,json,md,ts,tsx}
  tslint --fix: any of: *.{ts,tsx}
